{% extends 'courses/coursesbase.html' %}
{% block address %}
    {{ block.super }}
{% endblock %}
{% block course_title_head %}
    C++ Syllabus
{% endblock %}
{% block course_title %}
    C++ Syllabus
{% endblock %}
{% block course_duration %}
    To be filled later
{% endblock %}
{% block course_fee %}
    To be filled later
{% endblock %}
{% block course_content %}
    <div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse1">C++ Overview</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>C++ Characteristics<br>
                    <i></i>Object-Oriented Terminology<br>
                    <i></i>Polymorphism <br>
                    <i></i>Object-Oriented Paradigm<br>
                    <i></i>Abstract Data Types<br>
                    <i></i>I/O Services <br>
                    <i></i>Standard Template Library <br>
                    <i></i>Standards Compliance<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse2">Functions and Variables</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Functions: Declaration and Definition<br>
                    <i></i>Variables: Definition, Declaration, and Scope <br>
                    <i></i>Variables: Dynamic Creation and Derived Data <br>
                    <i></i>Arrays and Strings in C++ <br>
                    <i></i>Qualifiers<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse3">Classes in C++</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Defining Classes in C++
                    <i></i>Classes and Encapsulation <br>
                    <i></i>Member Functions<br>
                    <i></i>Instantiating and Using Classes<br>
                    <i></i>Using Constructors<br>
                    <i></i>Multiple Constructors and Initialization Lists <br>
                    <i></i>Using Destructors to Destroy Instances<br>
                    <i></i>Friendship <br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse4">Operator Overloading</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Operator Overloading <br>
                    <i></i>Working with Overloaded Operator Methods<br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse5">Initialization and Assignment</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Initialization vs. Assignment <br>
                    <i></i>The Copy Constructor <br>
                    <i></i>Assigning Values <br>
                    <i></i>Specialized Constructors and Methods <br>
                    <i></i>Constant and Static Class Members <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse6">Storage Management</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Memory Allocation<br>
                    <i></i>Dynamic Allocation: new and delete <br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse7">Inheritance</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Overview of Inheritance <br>
                    <i></i>Defining Base and Derived Classes <br>
                    <i></i>Constructor and Destructor Calls <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse8">Polymorphism</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Overview of Polymorphism <br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse9">Input and Output in C++ Programs</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Standard Streams <br>
                    <i></i>Manipulators <br>
                    <i></i>Unformatted Input and Output <br>
                    <i></i>File Input and Output <br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse10">Exceptions</a>
                </h4>
            </div>
            <div>
                <div>

                    <i></i> Exceptions <br>
                    <i></i>Inheritance and Exceptions <br>
                    <i></i>Exception Hierarchies <br>
                    <i></i>Inside an Exception Handler<br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse11">Templates</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Template Overview <br>
                    <i></i>Customizing a Templated Method <br>
                    <i></i>Standard Template Library Containers <br>


                </div>
            </div>
        </div>
    </div>

{% endblock %}