{% extends 'courses/coursesbase.html' %}
{% block address %}
    {{ block.super }}
    <ol class="breadcrumb well">
        <span class="pull-left">You are here:&nbsp;</span>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'training' %}">Training</a></li>
        <li><a href="/home/Training/#Foundation">Foundation</a></li>
        <li class="active">C</li>
    </ol>
{% endblock %}
{% block course_title_head %}
    Certificate in C Programming
{% endblock %}1
{% block course_title %}
    Certificate in C Programming
{% endblock %}
{% block course_duration %}
    3 Months (72 Hours)
{% endblock %}
{% block course_fee %}
    Rs. 1000
{% endblock %}
{% block course_content %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Basics of C</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> History and Features of C<br>
                    <i class="fa fa-pencil"></i> Importance of C<br>
                    <i class="fa fa-pencil"></i> About Procedural Language<br>
                    <i class="fa fa-pencil"></i> Role of Compiler<br>
                    <i class="fa fa-pencil"></i> Role of Interpreter<br>
                    <i class="fa fa-pencil"></i> The Structure of a C Program<br>
                    <i class="fa fa-pencil"></i> Writing C Programs<br>
                    <i class="fa fa-pencil"></i> Building an Executable Version of a C Program<br>
                    <i class="fa fa-pencil"></i> Debugging a C Program<br>
                    <i class="fa fa-pencil"></i> Examining and Running a C Application Program<br>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">An Overview Of C And
                        Buzzwords</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Data Type, Variable<br>
                    <i class="fa fa-pencil"></i> Operators<br>
                    <i class="fa fa-pencil"></i> Control Statement<br>
                    <i class="fa fa-pencil"></i> Preprocessor Directives Input and Output Operators<br>
                    <i class="fa fa-pencil"></i> Reading/Writing Charecters<br>
                    <i class="fa fa-pencil"></i> Formatted input/output Function<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Control Statement</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> The IF.....ELSE Statement<br>
                    <i class="fa fa-pencil"></i> IF......ELSE ladder<br>
                    <i class="fa fa-pencil"></i> Nesting of IF.....ELSE Statements<br>
                    <i class="fa fa-pencil"></i> The Switching Statements<br>
                    <i class="fa fa-pencil"></i> The do-while Statement<br>
                    <i class="fa fa-pencil"></i> The while statement<br>
                    <i class="fa fa-pencil"></i> FOR Statements<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Array in C</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">String Handling</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Function in C</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Pointers in C</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Structures and Unions</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Dynamic Memory allocation</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">LinkedList</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">File Management in C</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Preprocessor</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Project Development</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Creating simple Viruses</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}