{% extends 'courses/coursesbase.html' %}
{% block address %}
    {{ block.super }}
{% endblock %}
{% block course_title_head %}
    Certificate in Core Java
{% endblock %}1
{% block course_title %}
    Certificate in Core Java
{% endblock %}
{% block course_duration %}
    To be filled later
{% endblock %}
{% block course_fee %}
    To be filled later
{% endblock %}
{% block course_content %}
    <div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse1">Basics of Java</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Java - What, Where and Why?<br>
                    <i></i>History and Features of Java <br>
                    <i></i>Internals of Java Program<br>
                    <i></i>Difference between JDK,JRE and JVM <br>
                    <i></i>Internal Details of JVM <br>
                    <i></i>Variable and Data Type<br>
                    <i></i>Unicode System <br>
                    <i></i>Naming Convention <br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse2">OOPS Conecpts</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Advantage of OOPs<br>
                    <i></i>Object and Class<br>
                    <i></i>Method Overloading<br>
                    <i></i>Constructor<br>
                    <i></i>static variable, method and block<br>
                    <i></i>this keyword<br>
                    <i></i>Inheritance (IS-A)<br>
                    <i></i>Aggregation and Composition(HAS-A)<br>
                    <i></i>Method Overriding<br>
                    <i></i>Covariant Return Type<br>
                    <i></i>super keyword<br>
                    <i></i>Instance Initializer block<br>
                    <i></i>final keyword<br>
                    <i></i>Runtime Polymorphism<br>
                    <i></i>static and Dynamic binding<br>
                    <i></i>Abstract class and Interface<br>
                    <i></i>Downcasting with instanceof operator<br>
                    <i></i>Package and Access Modifiers<br>
                    <i></i>Encapsulation<br>
                    <i></i>Object class<br>
                    <i></i>Object Cloning<br>
                    <i></i>Java Array<br>
                    <i></i>Call By Value and Call By Reference<br>
                    <i></i>strictfp keyword<br>
                    <i></i>Creating API Document<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse3">String Handling</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>String : What and Why?<br>
                    <i></i>Immutable String <br>
                    <i></i>String Comparison <br>
                    <i></i>String Concatenation<br>
                    <i></i>Substring <br>
                    <i></i>Methods of String class<br>
                    <i></i>StringBuffer class <br>
                    <i></i>StringBuilder class<br>
                    <i></i>Creating Immutable class<br>
                    <i></i>toString method <br>
                    <i></i>StringTokenizer class<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse4">Exception Handling</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Exception Handling : What and Why? <br>
                    <i></i>try and catch block <br>
                    <i></i>Multiple catch block <br>
                    <i></i>Nested try <br>
                    <i></i>finally block <br>
                    <i></i>throw keyword <br>
                    <i></i>Exception Propagation <br>
                    <i></i>throws keyword <br>
                    <i></i>Exception Handling with Method Overriding<br>
                    <i></i>Custom Exception<br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse5">Nested Classes</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Nested Class : What and Why?<br>
                    <i></i>Member Inner class <br>
                    <i></i>Annonymous Inner class <br>
                    <i></i>Local Inner class <br>
                    <i></i>static nested class <br>
                    <i></i>Nested Interface <br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse6">Multithreading</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Multithreading : What and Why?<br>
                    <i></i>Life Cycle of a Thread<br>
                    <i></i>Creating Thread <br>
                    <i></i>Thread Schedular <br>
                    <i></i>Sleeping a thread<br>
                    <i></i>Joining a thread<br>
                    <i></i>Thread Priority <br>
                    <i></i>Daemon Thread <br>
                    <i></i>Thread Pooling <br>
                    <i></i>Thread Group <br>
                    <i></i>ShutdownHook<br>
                    <i></i>Performing multiple task by multiple thread<br>
                    <i></i>Garbage Collection <br>
                    <i></i>Runnable class <br>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse7">Synchronization</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Synchronization : What and Why?<br>
                    <i></i>synchronized method<br>
                    <i></i>synchronized block <br>
                    <i></i>static synchronization <br>
                    <i></i>Deadlock <br>
                    <i></i>Inter-thread Communication<br>
                    <i></i>Interrupting Thread <br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse8">Input and output</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>FileOutputStream & FileInputStream <br>
                    <i></i>Byte Array Output Stream <br>
                    <i></i>SequenceInputStream <br>
                    <i></i>Buffered Output Stream & BufferedInputStream <br>
                    <i></i>FileWriter & FileReader<br>
                    <i></i>CharArrayWriter <br>
                    <i></i>Input from keyboard by InputStreamReader <br>
                    <i></i>Input from keyboard by Console <br>
                    <i></i>Input from keyboard by Scanner <br>
                    <i></i>PrintStream class<br>
                    <i></i>PrintWriter class<br>
                    <i></i>Compressing and Uncompressing File <br>
                    <i></i>Reading and Writing data simultaneously <br>
                    <i></i> Data Input Stream and DataOutputStream <br>
                    <i></i> StreamTokenizer class <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse9">Serialization</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Serialization & Deserialization<br>
                    <i></i>Serialization with IS-A and Has-A<br>
                    <i></i>transient keyword <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse10">Networking</a>
                </h4>
            </div>
            <div>
                <div>

                    <i></i>Socket Programming <br>
                    <i></i> URL class <br>
                    <i></i>Displaying data of a web page <br>
                    <i></i>InetAddress class <br>
                    <i></i>DatagramSocket and DatagramPacket <br>
                    <i></i>Two way communication <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse11">AWT and EventHandling</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>AWT Controls<br>
                    <i></i>Event Handling by 3 ways<br>
                    <i></i>Event classes and Listener Interfaces<br>
                    <i></i>Adapter classes<br>
                    <i></i>Creating Games and Applications<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse12">Swing</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Basics of Swing<br>
                    <i></i>JButton class<br>
                    <i></i>JRadioButton class<br>
                    <i></i>JTextArea class<br>
                    <i></i>JComboBox class <br>
                    <i></i>JTable class<br>
                    <i></i>JColorChooser class<br>
                    <i></i> JProgressBar class<br>
                    <i></i>JSlider class <br>
                    <i></i>Digital Watch <br>
                    <i></i>Graphics in swing <br>
                    <i></i>Displaying Image <br>
                    <i></i>Edit Menu for Notepad<br>
                    <i></i>Open Dialog Box<br>
                    <i></i>Creating Notepad <br>
                    <i></i>Creating Games and applications<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse13">LayoutManagers</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>BorderLayout<br>
                    <i></i>GridLayout <br>
                    <i></i>FlowLayout<br>
                    <i></i>BoxLayout<br>
                    <i></i>CardLayout<br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse14">Applet</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Life Cycle of Applet <br>
                    <i></i>Graphics in Applet <br>
                    <i></i>Displaying image in Applet<br>
                    <i></i>Animation in Applet <br>
                    <i></i>EventHandling in Applet <br>
                    <i></i>JApplet class <br>
                    <i></i>Painting in Applet<br>
                    <i></i>Digital Clock in Applet<br>
                    <i></i>Analog Clock in Applet <br>
                    <i></i>Parameter in Applet <br>
                    <i></i>Applet Communication <br>
                    <i></i>Creating Games<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse15">Reflection API</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Reflection API <br>
                    <i></i>newInstance() & Determining the class object <br>
                    <i></i>javap tool <br>
                    <i></i>creating javap tool<br>
                    <i></i>creating appletviewer <br>
                    <i></i>Accessing private method from outside the class<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse16">Collection</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i> Collection Framework <br>
                    <i></i>ArrayList class <br>
                    <i></i>LinkedList class <br>
                    <i></i>ListIterator interface <br>
                    <i></i>HashSet class <br>
                    <i></i>LinkedHashSet class <br>
                    <i></i>TreeSet class <br>
                    <i></i>PriorityQueue class <br>
                    <i></i>ArrayDeque class <br>
                    <i></i>Map interface <br>
                    <i></i>HashMap class<br>
                    <i></i>LinkedHashMap class <br>
                    <i></i>TreeMap class <br>
                    <i></i>Hashtable class <br>
                    <i></i>Comparable and Comparator <br>
                    <i></i>Properties class <br>

                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse17">JDBC</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>JDBC Drivers<br>
                    <i></i>Steps to connect to the database <br>
                    <i></i>Connectivity with Oracle <br>
                    <i></i>Connectivity with MySQL <br>
                    <i></i>Connectivity with Access without DSN <br>
                    <i></i>DriverManager <br>
                    <i></i>Connection interface <br>
                    <i></i>Statement interface <br>
                    <i></i>ResultSet interface <br>
                    <i></i>PreparedStatement <br>
                    <i></i>ResultSetMetaData <br>
                    <i></i>DatabaseMetaData <br>
                    <i></i>Storing image <br>
                    <i></i>Retrieving image <br>
                    <i></i>Storing file <br>
                    <i></i>Retrieving file <br>
                    <i></i>Stored procedures and functions<br>
                    <i></i>Transaction Management <br>
                    <i></i>Batch Processing <br>
                    <i></i>JDBC New Features<br>
                    <i></i>Mini Project <br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse18">Java New Features</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Assertion<br>
                    <i></i>For-each loop <br>
                    <i></i>Varargs<br>
                    <i></i>Static Import <br>
                    <i></i>Autoboxing and Unboxing <br>
                    <i></i>Enum Type <br>
                    <i></i>Annotation <br>
                    <i></i> etc.<br>


                </div>
            </div>
        </div>
        <div>
            <div>
                <h4>
                    <a href="#0.1.1_collapse19">Internationalization</a>
                </h4>
            </div>
            <div>
                <div>
                    <i></i>Internationalization<br>
                    <i></i>ResourceBundle class <br>
                    <i></i>I18N with Date <br>
                    <i></i>I18N with Time <br>
                    <i></i>I18N with Number <br>
                    <i></i>I18N with Currency<br>


                </div>
            </div>
        </div>
    </div>


{% endblock %}