{% extends 'courses/coursesbase.html' %}
{% block address %}
    {{ block.super }}
    <ol class="breadcrumb well">
        <span class="pull-left">You are here:&nbsp;</span>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'training' %}">Training</a></li>
        <li><a href="/home/Training/#Foundation">Foundation</a></li>
        <li class="active">C</li>
    </ol>
{% endblock %}
{% block course_title_head %}
    Certificate in SEO
{% endblock %}1
{% block course_title %}
    Certificate in C SEO
{% endblock %}
{% block course_duration %}
    3 Months (72 Hours)
{% endblock %}
{% block course_fee %}
    Rs. 1000
{% endblock %}
{% block course_content %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-bars"></i> Basics for SEO</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i>  What is Domain <br>
                    <i class="fa fa-pencil"></i> Basic Knowledge of World Wide Web<br>
                    <i class="fa fa-pencil"></i> Difference between Portal and Search Engines<br>
                    <i class="fa fa-pencil"></i> What is SEO <br>
                    <i class="fa fa-pencil"></i> Types of SEO Techniques<br>
                    <i class="fa fa-pencil"></i> Black hat techniques <br>
                    <i class="fa fa-pencil"></i> White Hat techniques <br>
                    <i class="fa fa-pencil"></i> How Search Engine works<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-bars"></i> SEO Research &amp Analysis</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Market Research <br>
                    <i class="fa fa-pencil"></i> Keyword Research and Analysis <br>
                    <i class="fa fa-pencil"></i> Keyword opportunity <br>
                    <i class="fa fa-pencil"></i> Competitors Website Analysis <br>
                    <i class="fa fa-pencil"></i> SWOT Analysis of Website <br>
                    <i class="fa fa-pencil"></i> How to Choose Best Keywords <br>
                    <i class="fa fa-pencil"></i> Tools available for Keyword Research<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-bars"></i> Website Design SEO
                        Guidelines</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Content Research <br>
                    <i class="fa fa-pencil"></i> Content Guidelines <br>
                    <i class="fa fa-pencil"></i> Content Optimization <br>
                    <i class="fa fa-pencil"></i> Design & Layout <br>
                    <i class="fa fa-pencil"></i> XML Sitemap / URL List Sitemap<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="fa fa-bars"></i> On-page Optimization</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> The Page Title <br>
                    <i class="fa fa-pencil"></i> Meta Descriptions & Meta Keywords <br>
                    <i class="fa fa-pencil"></i> Headings <br>
                    <i class="fa fa-pencil"></i> Bold Text <br>
                    <i class="fa fa-pencil"></i> Domain Names & Suggestions <br>
                    <i class="fa fa-pencil"></i> Canonical Tag <br>
                    <i class="fa fa-pencil"></i> Meta Tags<br>
                    <i class="fa fa-pencil"></i> Images and Alt Text <br>
                    <i class="fa fa-pencil"></i> Internal Link Building <br>
                    <i class="fa fa-pencil"></i> The Sitemap <br>
                    <i class="fa fa-pencil"></i> Invisible Text <br>
                    <i class="fa fa-pencil"></i> Server and Hosting Check <br>
                    <i class="fa fa-pencil"></i> Robots Meta Tag <br>
                    <i class="fa fa-pencil"></i> Doorway Pages <br>
                    <i class="fa fa-pencil"></i> 301 Redirects <br>
                    <i class="fa fa-pencil"></i> 404 Error <br>
                    <i class="fa fa-pencil"></i> Duplicate content<br>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><i class="fa fa-bars"></i> Off-page Optimization</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-pencil"></i> Page Rank <br>
                        <i class="fa fa-pencil"></i> Link Popularity <br>
                        <i class="fa fa-pencil"></i> Link Building in Detail <br>
                        <i class="fa fa-pencil"></i> Directory Submission <br>
                        <i class="fa fa-pencil"></i> Social Bookmark Submission <br>
                        <i class="fa fa-pencil"></i> Blog Submission <br>
                        <i class="fa fa-pencil"></i> Articles <br>
                        <i class="fa fa-pencil"></i> Links Exchange <br>
                        <i class="fa fa-pencil"></i> Reciprocal Linking <br>
                        <i class="fa fa-pencil"></i> Posting to Forums <br>
                        <i class="fa fa-pencil"></i> Submission to Search Engine <br>
                        <i class="fa fa-pencil"></i> RSS Feeds Submissions <br>
                        <i class="fa fa-pencil"></i> Press Release Submissions <br>
                        <i class="fa fa-pencil"></i> Forum Link Building <br>
                        <i class="fa fa-pencil"></i> Competitor Link Analysis<br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><i class="fa fa-bars"></i> Analytics</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-pencil"></i> Google Analytics <br>
                        <i class="fa fa-pencil"></i> Installing Google Analytics <br>
                        <i class="fa fa-pencil"></i> How to Study Google Analytics <br>
                        <i class="fa fa-pencil"></i> Interpreting Bars & Figures <br>
                        <i class="fa fa-pencil"></i> How Google Analytics can Help SEO <br>
                        <i class="fa fa-pencil"></i> Advanced Reporting <br>
                        <i class="fa fa-pencil"></i> Webmaster Central & Bing/Yahoo <br>
                        <i class="fa fa-pencil"></i> Open Site Explorer <br>
                        <i class="fa fa-pencil"></i> Website Analysis using various SEO Tools available<br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><i class="fa fa-bars"></i> SEO Tools</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-pencil"></i> Keyword Density Analyzer Tools <br>
                        <i class="fa fa-pencil"></i> Google Tools <br>
                        <i class="fa fa-pencil"></i> Yahoo / Bing Tools <br>
                        <i class="fa fa-pencil"></i> Rich Snippet Text Tools <br>
                        <i class="fa fa-pencil"></i> Comparison Tools <br>
                        <i class="fa fa-pencil"></i> Link Popularity Tools <br>
                        <i class="fa fa-pencil"></i> Search Engines Tools<br>
                        <i class="fa fa-pencil"></i> Site Tools <br>
                        <i class="fa fa-pencil"></i> Miscellaneous Tools <br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><i class="fa fa-bars"></i> SEO Reporting</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-pencil"></i> Google analysis<br>
                        <i class="fa fa-pencil"></i> Tracking and Reporting <br>
                        <i class="fa fa-pencil"></i> Reports Submission <br>
                        <i class="fa fa-pencil"></i> Securing Ranks <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}