<html>
{% extends 'courses/coursesbase.html' %}
{% block address %}
    {{ block.super }}
    <ol class="breadcrumb well">
        <span class="pull-left">You are here:&nbsp;</span>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'training' %}">Training</a></li>
        <li><a href="/home/Training/#Foundation">Foundation</a></li>
        <li class="active">C</li>
    </ol>
{% endblock %}
{% block course_title_head %}
    Certificate in Web Designing
{% endblock %}1
{% block course_title %}
    Certificate in Web Designing
{% endblock %}
{% block course_duration %}
    to be filled
{% endblock %}
{% block course_fee %}
    Rs. to be filled
{% endblock %}
{% block course_content %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Photoshop</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i>Basic in Photoshop<br>
                    <i class="fa fa-pencil"></i>Tools in Photoshop<br> 
                    <i class="fa fa-pencil"></i>Simple templates design<br> 
                    <i class="fa fa-pencil"></i>menu in Photoshop<br> 
                    <i class="fa fa-pencil"></i>different navigation bar<br> 
                    <i class="fa fa-pencil"></i>image effects<br> 
                    <i class="fa fa-pencil"></i>Design your portfolio page<br> 
                    <i class="fa fa-pencil"></i>Design a high end web designing from scratch<br> 
                    <i class="fa fa-pencil"></i>Design a cool Photography Portfolio<br> 
                    <i class="fa fa-pencil"></i>Unique Desktop Layout<br>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">HTML</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>HTML Introduction<br>
                     <i class="fa fa-pencil"></i>HTML Editors<br> 
                     <i class="fa fa-pencil"></i>HTML Basic<br> 
                     <i class="fa fa-pencil"></i>HTML Elements<br> 
                     <i class="fa fa-pencil"></i>HTML Attributes<br> 
                     <i class="fa fa-pencil"></i>HTML Headings<br> 
                     <i class="fa fa-pencil"></i>HTML Paragraphs<br> 
                     <i class="fa fa-pencil"></i>HTML Formatting<br> 
                     <i class="fa fa-pencil"></i>HTML Links<br> 
                     <i class="fa fa-pencil"></i>HTML Head<br> 
                     <i class="fa fa-pencil"></i>HTML CSS<br> 
                     <i class="fa fa-pencil"></i>HTML Images<br> 
                     <i class="fa fa-pencil"></i>HTML Tables<br> 
                     <i class="fa fa-pencil"></i>HTML Lists<br> 
                     <i class="fa fa-pencil"></i>HTML Blocks<br> 
                     <i class="fa fa-pencil"></i>HTML Layout<br> 
                     <i class="fa fa-pencil"></i>HTML Forms<br> 
                     <i class="fa fa-pencil"></i>HTML Iframes<br> 
                     <i class="fa fa-pencil"></i>HTML Colors<br> 
                     <i class="fa fa-pencil"></i>HTML Colornames<br> 
                     <i class="fa fa-pencil"></i>HTML Colorvalues<br> 
                     <i class="fa fa-pencil"></i>HTML JavaScript<br> 
                     <i class="fa fa-pencil"></i>HTML Entities<br> 
                     <i class="fa fa-pencil"></i>HTML URL Encode<br> 
                     <i class="fa fa-pencil"></i>HTML Quick List<br> 
                     <i class="fa fa-pencil"></i>HTML Summary<br> 
                     <i class="fa fa-pencil"></i>HTML XHTML<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">HTML 5</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>HTML5 Intro<br> 
                     <i class="fa fa-pencil"></i>HTML5 New Elements<br> 
                     <i class="fa fa-pencil"></i>HTML5 Canvas<br> 
                     <i class="fa fa-pencil"></i>HTML5 SVG<br> 
                     <i class="fa fa-pencil"></i>HTML5 Drag/Drop<br> 
                     <i class="fa fa-pencil"></i>HTML5 Geolocation<br> 
                     <i class="fa fa-pencil"></i>HTML5 Video<br> 
                     <i class="fa fa-pencil"></i>HTML5 Audio<br> 
                     <i class="fa fa-pencil"></i>HTML5 Input Types<br> 
                     <i class="fa fa-pencil"></i>HTML5 Form Elements<br> 
                     <i class="fa fa-pencil"></i>HTML5 Form Attributes<br> 
                     <i class="fa fa-pencil"></i>HTML5 Semantic<br> 
                     <i class="fa fa-pencil"></i>HTML5 Web Storage<br> 
                     <i class="fa fa-pencil"></i>HTML5 App Cache<br> 
                     <i class="fa fa-pencil"></i>HTML5 Web Workers<br> 
                     <i class="fa fa-pencil"></i>HTML5 SSE<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">CSS</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>CSS Basic<br> 
                     <i class="fa fa-pencil"></i>CSS HOME<br> 
                     <i class="fa fa-pencil"></i>CSS Introduction<br> 
                     <i class="fa fa-pencil"></i>CSS Syntax<br> 
                     <i class="fa fa-pencil"></i>CSS Id & Class<br> 
                     <i class="fa fa-pencil"></i>CSS How To<br> 
                     <i class="fa fa-pencil"></i>CSS Backgrounds<br> 
                     <i class="fa fa-pencil"></i>CSS Text<br> 
                     <i class="fa fa-pencil"></i>CSS Fonts<br> 
                     <i class="fa fa-pencil"></i>CSS Links<br> 
                     <i class="fa fa-pencil"></i>CSS Lists<br> 
                     <i class="fa fa-pencil"></i>CSS Tables<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">CSS Box Model</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>CSS Box Model<br> 
                     <i class="fa fa-pencil"></i>CSS Border<br> 
                     <i class="fa fa-pencil"></i>CSS Outline<br> 
                     <i class="fa fa-pencil"></i>CSS Margin<br> 
                     <i class="fa fa-pencil"></i>CSS Padding<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">CSS Advanced</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>CSS Grouping/Nesting<br> 
                     <i class="fa fa-pencil"></i>CSS Dimension<br> 
                     <i class="fa fa-pencil"></i>CSS Display<br> 
                     <i class="fa fa-pencil"></i>CSS Positioning<br> 
                     <i class="fa fa-pencil"></i>CSS Floating<br> 
                     <i class="fa fa-pencil"></i>CSS Align<br> 
                     <i class="fa fa-pencil"></i>CSS Pseudo-class<br> 
                     <i class="fa fa-pencil"></i>CSS Pseudo-element<br> 
                     <i class="fa fa-pencil"></i>CSS Navigation Bar<br> 
                     <i class="fa fa-pencil"></i>CSS Image Gallery<br> 
                     <i class="fa fa-pencil"></i>CSS Image Opacity<br> 
                     <i class="fa fa-pencil"></i>CSS Image Sprites<br> 
                     <i class="fa fa-pencil"></i>CSS Media Types<br> 
                     <i class="fa fa-pencil"></i>CSS Attr Selectors<br> 
                     <i class="fa fa-pencil"></i>CSS3 Introduction<br> 
                     <i class="fa fa-pencil"></i>CSS3 Borders<br> 
                     <i class="fa fa-pencil"></i>CSS3 Backgrounds<br> 
                     <i class="fa fa-pencil"></i>CSS3 Gradients<br> 
                     <i class="fa fa-pencil"></i>CSS3 Text Effects<br> 
                     <i class="fa fa-pencil"></i>CSS3 Fonts<br> 
                     <i class="fa fa-pencil"></i>CSS3 3D Transforms<br> 
                     <i class="fa fa-pencil"></i>CSS3 Transitions<br> 
                     <i class="fa fa-pencil"></i>CSS3 Animations<br> 
                     <i class="fa fa-pencil"></i>CSS3 Multiple Columns<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">JavaScript introduction</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>What is JavaScript<br> 
                     <i class="fa fa-pencil"></i>Understanding Events<br> 
                     <i class="fa fa-pencil"></i>JavaScript Example<br> 
                     <i class="fa fa-pencil"></i>External JavaScript<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Basic Elements</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>Comment<br> 
                     <i class="fa fa-pencil"></i>Variable<br> 
                     <i class="fa fa-pencil"></i>Global Variable<br> 
                     <i class="fa fa-pencil"></i>Data Types<br> 
                     <i class="fa fa-pencil"></i>operators<br> 
                     <i class="fa fa-pencil"></i>If Statement<br> 
                     <i class="fa fa-pencil"></i>Switch<br> 
                     <i class="fa fa-pencil"></i>Loop: for and while<br> 
                     <i class="fa fa-pencil"></i>Function<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">JavaScript Objects</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>JavaScript objects<br> 
                     <i class="fa fa-pencil"></i>JavaScript Array<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Browser Object Model</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>Browser Objects<br> 
                     <i class="fa fa-pencil"></i>Window Object<br> 
                     <i class="fa fa-pencil"></i>Document Object<br> 
                     <i class="fa fa-pencil"></i>getElementById<br> 
                     <i class="fa fa-pencil"></i>getElementsByName<br> 
                     <i class="fa fa-pencil"></i>getElementsByTagName<br> 
                     <i class="fa fa-pencil"></i>innerHTML property<br> 
                     <i class="fa fa-pencil"></i>inner Text property<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11"><br>JavaScript Validation</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>form validation<br> 
                     <i class="fa fa-pencil"></i>email validation<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Jquery</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-pencil"></i> Array : What and Why?<br>
                    <i class="fa fa-pencil"></i> One Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Two Dementions Arrays<br>
                    <i class="fa fa-pencil"></i> Multi Dimentions Arrays<br>
                    <i class="fa fa-pencil"></i> Dynamic Arrays<br>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Project Development</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                     <i class="fa fa-pencil"></i>jQuery HOME<br> 
                     <i class="fa fa-pencil"></i>jQuery Intro<br> 
                     <i class="fa fa-pencil"></i>jQuery Install<br> 
                     <i class="fa fa-pencil"></i>jQuery Syntax<br> 
                     <i class="fa fa-pencil"></i>jQuery Selectors<br> 
                     <i class="fa fa-pencil"></i>jQuery Events<br> 
					 <i class="fa fa-pencil"></i>jQuery Hide/Show<br> 
                     <i class="fa fa-pencil"></i>jQuery Fade<br> 
                     <i class="fa fa-pencil"></i>jQuery Slide<br> 
                     <i class="fa fa-pencil"></i>jQuery Animate<br> 
                     <i class="fa fa-pencil"></i>jQuery stop()<br> 
                     <i class="fa fa-pencil"></i>jQuery Callback<br> 
                     <i class="fa fa-pencil"></i>jQuery Chaining<br> 
                     <i class="fa fa-pencil"></i>jQuery GetjQuery Set<br> 
                     <i class="fa fa-pencil"></i>jQuery Add<br> 
                     <i class="fa fa-pencil"></i>jQuery Remove<br> 
                     <i class="fa fa-pencil"></i>jQuery CSS Classes<br> 
                     <i class="fa fa-pencil"></i>jQuery css()<br> 
                     <i class="fa fa-pencil"></i>jQuery Dimensions<br> 
                     <i class="fa fa-pencil"></i>jquery slider<br>
                </div>
            </div>
        </div>
        
{% endblock %}
</html>